* {
    margin: 0;
}
html, body {
    width: 41.5em;
    height: 100%;
    font-family: Candara, Tahoma, Verdana, sans-serif; 
    // Georgia, Times New Roman, Times, serif
    color: #000000; 
    text-align: left;
    font-size : 10pt;
    line-height: 1.3em;
    margin-right: auto;
}
html {
    background-image: url("../media/sc-web-bar.jpg");
    background-repeat: no-repeat;
    background-color: rgb(255,255,255);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    /* MDE Fri May 25 15:20:25 2012 -- was padding */
    margin: 3% 0 2% 0;
}
#menu, dt, h1, h2, h3, h4, h5, h6 {
    font-family: Candara, Tahoma, Verdana, sans-serif;
    //Times New Roman, Times, serif
}
h1 {
    font-size: 160%;
}
h2 {
    font-size: 150%;
    line-height: 120%;
    //text-decoration: overline;
}
h2.robodoc {
    border-bottom: dotted 1px #aaa;
}
h3 {
    font-size: 140%;
}
h4 {
    font-size: 130%;
}
h5 {
    font-size: 120%;
}
h6 {
    font-size: 110%;
}
dt {
    font-size: 90%;
}
blockquote {
    margin-left: 3em;
    margin-right: 4em;
    margin-bottom: 1em;
    text-align: left;
}
p {
    margin-bottom: 0em;
    text-indent: 1em;
}
.nb {
    background-color: rgb(255,230,230);
}
p.nb
{
    background-color: rgb(255,255,255);
    margin-top: 1em;
    font-style: italic;
    margin-bottom: 1em;
}
p.footnote
{
    font-size: 80%
}
p.close
{
    margin-top: 1em;
    margin-bottom: 1em;
}
a.plain:link, a.plain:active, a.plain:visited {
    text-decoration: none;
    border-bottom: 0px;
}
a:link, a:active, a:visited {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px dotted;
}
a:hover {
    color: rgb(226,0,1);
}
pre
{
    font-family: Monaco, Courier;
    font-size : 9pt;
    white-space: pre;
    text-align: left;

}
pre.source
{
    padding: 0.5em;
    width: 48em;
    background: rgb(153,153,153);
    color: rgb(255,255,255); 
    border: dashed 1px #000;
    font-family: Courier, Monaco;
    font-size : 9pt;
    /*font-size: 0.8em;*/
    margin-top: 1em;
    margin-bottom: 2em;
}
pre span.red
{
    color: rgb(226,0,1);
}
pre span.yellow
{
    color: rgb(254,218,1);
}
pre span.blue
{
    color: rgb(51,126,193);
}
code
{
    font-family: Courier, Monaco;
    /*    background: rgb(153,153,153); */
    background: rgb(235,235,100);
    /* color: rgb(255,255,255); */
    color: rgb(0,0,0);
    white-space: pre;
    text-align: left; 
    font-size: 80%;
}
hr { 
    background-color: rgb(153,153,153);
    border: 0;
    margin: 4em 0 3em 0;
    width: 100%;
    height: 1px;
}
hr.slim { 
    background-color: rgb(153,153,153);
    border: 0;
    margin: 0px 0px 1em 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 1px;
}
#tight {
    padding: 0em 0em .15em 0em;
    margin: 0em 0em 0em 0em;
    font-weight: normal;
    border: 0;
}
#center {
    text-align: center;
}
/* ============================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html is available
at http://www.cssplay.co.uk/menus/drop_definition3.html Copyright (c) 2005-2007
Stu Nicholls. All rights reserved.  This stylesheet and the assocaited (x)html
may be modified in any way to fit your requirements.
============================================================================ */
#menu {
    list-style-type: none;
    margin: 0em auto 3em auto;
    padding: 0;
    position: relative;
    top: -1.5em;
    left: 22em;
    width: 40em;
}
#menu li {
    float: left;
    padding: 0;
    margin: 0 1px 0 0;
    position: relative;
    width: 8em;
    height: 3em;
    z-index: 100;
}
#menu dl {
    width: 8em;
    margin: 0;
    padding: 0;
    background: transparent;
}
#menu li dl {
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 0;
}
#menu li a, #menu li a:visited {
    text-decoration: none;
}
#menu li dd {
    display: none;
}
#menu li a:hover {
    border: 0; 
}
#menu li:hover dd, #menu li a:hover dd {
    display: block;
}
#menu li:hover dl, #menu li a:hover dl {
    padding-bottom: 0px;
}
#menu table {
    border-collapse: collapse;
    padding: 0;
    margin: -1px;
    font-size: 1em;
}
#menu dt {
    margin: 0;
    padding: 0;
}
#menu dd {
    margin: 0;
    padding: 0;
    text-align: center;
}
#menu dt, dt a, #menu dt a:visited {
    display: block;
    text-align: center;
    border-left: 3px solid rgb(254,218,0);
    border-right: 3px solid rgb(254,218,0); 
    border-bottom: 1px solid rgb(254,218,0);
    padding: 0.25em 0 0.75em 0;
}
#menu li:hover dt a, li:hover dt, #menu a:hover dt a {
    color: #000;
    background: rgb(226,0,1);
    border: 2px solid rgb(254,218,0); 
}
#menu dd a, #menu dd a:visited {
    background: rgb(226,0,1);
    color: rgb(255,255,255);
    padding: 0.5em 0;
    text-decoration: none;
    display: block;
    text-align: center;
    border-left: 3px solid rgb(254,218,0);
    border-right: 3px solid rgb(254,218,0); 
    border-bottom: 1px solid rgb(254,218,0);
}
#menu dd a:hover {
    background: rgb(254,218,0);
    color: #000;
    border-left: 1px solid rgb(226,0,1);
    border-right: 1px solid rgb(226,0,1);
    border-bottom: 1px solid rgb(226,0,1);
}
/*===========================================================================*/
/* ==== THIS IS FOR THE LISP-OS COMPATIBILITY TABLES =========== */
.platforms
{
    border-collapse: collapse;
    margin-top: 1em;
    margin-bottom: 1em;
    /*color: rgb(254,218,0);*/
}
.platforms td, .platforms th
{
    background: rgb(254,218,0);
    /*background: rgb(51,126,193);*/
    border-top: dashed 1px #000;
    border-bottom: dashed 1px #000;
    text-align: center;
    width: 5em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: normal;
}
.platforms th.row-head
{
    text-align: left;
}
img.fragment {
    border: dashed 1px #ccc; 
    margin-left: -98px;
}
}
img.border {
    border: dashed 1px #ccc; 
}
table.image
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}
.image td
{
    text-align: center;
}
.image caption 
{
    caption-side: bottom;
    font-size: 80%;
    font-style: italic;
}
.image code
{
    font-size: 100%;
}
table.simple-center
{
    /* MDE Thu May 17 18:34:50 2012 -- changed colours for white bg */
    background: rgb(226,200,200);
    color: rgb(0,0,0);
    border-collapse:collapse;
    text-align: left;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}
.simple-center td
{
    padding-left: 1em;
    padding-right: 1em;
    border: dashed 1px #000;
}
.simple-center td.img
{
    text-align: center;
}
.simple-center td.lp-mark
{
    height: 30pt;
}
/* ============================================================= */
/* ===== THIS IS THE CODE THAT ALLOWS FOR THE DYNAMIC FOOTER ==== */
#content {
  min-height: 100%;
  height: auto /* !important */ /*min-height hack*/
  height: 100%;           /*min-height hack*/
  margin-bottom: -3em;    /*Negates #push on longer pages*/
  margin-left: 98px;
  margin-top: 230px;
  padding-bottom: 3em; /* MDE Mon May 14 09:14:50 2012 */
}
#dyn-footer, #push 
{
    height: 3em;
    font-size: 9px;
    text-align: left;
    line-height: 1.5em;
    margin-left: 98px;
}
/* ============================================================= */
/*===========================================================================*/
/* This CSS is used for the Show/Hide functionality. */
.more {
    display: none;
}
a.hideLink {
    background: transparent no-repeat left; 
}
/*===========================================================================*/

/*===========================================================================*/
/* REQUIRED FOR ROBODOC */

/*===========================================================================*/
#navigation
{
    background: rgb(153,153,153);
    border: dashed #777 1px;
    color: #FFFFFF;
    border-color:     rgb(0,0,0);
    border-height: 2px;
    /* the menu cells colour */
    font-style:       normal;
}
/* layout */
#navigation
{
    width:       150px; 
    /*    position:    relative; */
    position: absolute;
    top:         292px; 
    right:       0; 
    float:       right; 
    text-align:  center;
    margin-left: 50px;
}

a.menuitem
{
    font-size: 120%;
    font-variant:        normal;
    color:               #FFFFFF;
    text-transform:      none;
    font-weight:         normal;
    padding:             1px 8px 3px 1px;
    margin-left:         5px; 
    margin-right:        5px; 
    margin-top:          5px; 
    margin-bottom:       5px;
    text-align:          right;
    border-color:        rgb(255,226,157);
    border-bottom: 0;
}
a.menuitem:hover
{
    color: #333333;
}

#logo, #logo a
{
    color: #000000;
    font-size: 120%;
    font-style:         normal;
    font-variant:       normal;
    text-transform:     none;
    font-weight:        normal; 
/*    padding:            20px 0px 40px 0px; */
    padding:            0px 0px 0px 0px; 
    text-align:         left;
}
p.item_name 
{
    font-weight: bolder; 
    margin:5px;
    font-size: 105%;
    text-indent: 0;
}

/* SAR Tue Apr  3 20:12:20 BST 2012: This one is necessary for the robodoc*/
/* pages! */  
#footer {
    font-size: 9px;
    text-align: left;
    position: relative;
    bottom: 5px;
    margin-top: 100px;
    border-top: solid 1px;
}
/*===========================================================================*/
